watch_stylesheet: true
watch_config: true
debug: false # Enable debug mode to see more logs
# This komorebi setting will be used for tray context menu.
# If you don't use komorebi, you can remove this section.
komorebi:
  start_command: "komorebic start --whkd"
  stop_command: "komorebic stop --whkd"
  reload_command: "komorebic reload-configuration"
# This is the main configuration file for Yet Another Status Bar (YASB)
bars:
  status-bar:
    enabled: true
    #screens: ['DELL P2419H (1)'] # If you want to show on specific screen
    screens: ['*'] 
    class_name: "yasb-bar"
    alignment:
      position: "top"
      center: false
    blur_effect:
      enabled: false 
      acrylic: false
      dark_mode: false
      round_corners: true
      border_color: None
    window_flags:
      always_on_top: false
      windows_app_bar: true
    dimensions:
      width: "100%"
      height: 36
    padding:
      top: 4
      left: 0
      bottom: 4
      right: 0
    widgets:
      left:
        [
          "power_menu",
          "komorebi_workspaces",
          "komorebi_active_layout",
          "taskbar"
        ] 
      center: [
         "clock",
         "apps"
        ]
      right:
        [
          "media",
          "systray",
          "wifi",
          "weather",
          "wallpapers",
          "volume",
          "battery",
        ]
widgets:
    media:
      type: "yasb.media.MediaWidget"
      options:
        label: "{title} - {artist}"
        label_alt: "{title}"
        max_field_size:
          label: 20
          label_alt: 30
        show_thumbnail: true
        controls_only: false
        controls_left: true
        hide_empty: false
        thumbnail_alpha: 80
        thumbnail_padding: 8
        thumbnail_corner_radius: 16 # Set to 0 for square corners
        icons:
          prev_track: "\ue892"
          next_track: "\ue893"
          play: "\ue768"
          pause: "\ue769"
    active_window:
        type: "yasb.active_window.ActiveWindowWidget"
        options:
          label: "{win[title]}"
          label_alt: "[class_name='{win[class_name]}' exe='{win[process][name]}' hwnd={win[hwnd]}]"
          label_no_window: ""
          label_icon: true
          label_icon_size: 14
          max_length: 56
          max_length_ellipsis: "..."
          monitor_exclusive: true
    battery:
        type: "yasb.battery.BatteryWidget"
        options:
          label: "<span>{icon}</span>{percent}%"
          label_alt: "{icon} {percent}% | time: {time_remaining}"
          charging_options:
            icon_format: "{charging_icon}"
    clock:
        type: "yasb.clock.ClockWidget"
        options:
          label: "{%a %d, %b %H:%M}"
          label_alt: "{%A %d %B %Y, %H:%M}"
          #locale: 'en_EN' # Langugae for date, you can set your own, example fr_FR
          timezones: [] #Looking up time zone info from registry
          #timezones: ["America/Montreal"]
    komorebi_workspaces:
        type: "komorebi.workspaces.WorkspaceWidget"
        options:
            label_offline: "Komorebi Offline"
            label_workspace_btn: "\udb81\udc3d"
            label_workspace_active_btn: "\udb81\udc3e"
            label_workspace_populated_btn: "\udb81\udc3e"
            label_default_name: "{index}"
            label_zero_index: false
            hide_empty_workspaces: false
            hide_if_offline: false
            container_padding: 
              top: 0
              left: 8
              bottom: 0
              right: 8
    komorebi_active_layout:
        type: "komorebi.active_layout.ActiveLayoutWidget"
        options:
          hide_if_offline: true
          label: "{icon}"
          layouts: ['bsp', 'columns', 'rows', 'grid', 'vertical_stack', 'horizontal_stack', 'ultrawide_vertical_stack','right_main_vertical_stack']
          layout_icons:
            bsp: "BSP"
            columns: "COLS"
            rows: "ROWS"
            grid: "GRID"
            vertical_stack: "V-STACK"
            horizontal_stack: "H-STACK"
            ultrawide_vertical_stack: "W-STACK"
            right_main_vertical_stack: "RMV-STACK"
            monocle: "MONOCLE"
            maximised: "MAX"
            floating: "FLOATING"
            paused: "PAUSED"
          callbacks:
            on_left: 'next_layout'
            on_middle: 'toggle_monocle'
            on_right: 'prev_layout'
          container_padding: 
            top: 0
            left: 8
            bottom: 0
            right: 8
    wifi:
        type: "yasb.wifi.WifiWidget"
        options:
          label: "<span>{wifi_icon}</span>"
          label_alt: "{wifi_name} {wifi_strength}%"
          update_interval: 5000
          callbacks:
            on_left: "exec cmd.exe /c start ms-settings:network"
            on_middle: "do_nothing"
            on_right: "toggle_label"
    weather:
        type: "yasb.weather.WeatherWidget"
        options:
          label: "<span>{icon}</span> {temp}"
          label_alt: "{location}: Min {min_temp}, Max {max_temp}, Humidity {humidity}"
          api_key: '3bf4cf9a7c3f40d6b31174128242807' # Get your free API key from https://www.weatherapi.com/
          update_interval: 600 # Update interval in seconds, Min 600 seconds
          hide_decimal: true
          location: 'Jamaica' # You can use "USA Los Angeles 90006" {COUNTRY CITY ZIP_CODE}, or just city.
          callbacks:
            on_left: "toggle_label"
          icons: 
            sunnyDay: "\ue30d"
            clearNight: "\ue32b"
            cloudyDay: "\udb81\udd99"
            cloudyNight: "\ue311"
            rainyDay: "\udb81\ude7e"
            rainyNight: "\udb81\ude7e"
            snowyIcyDay: "\udb81\udd98"
            snowyIcyNight: "\udb81\udd98"
            blizzardDay: "\uebaa"
            default: "\uebaa"
            # https://www.weatherapi.com/docs/
            # Usage {temp}, {min_temp}, {max_temp}, {temp_f}, {min_temp_f}, {max_temp_f}, {location}, {humidity}, {icon}, {conditions}
    volume:
        type: "yasb.volume.VolumeWidget"
        options:
          label: "<span>{icon}</span> {level}"
          label_alt: "{volume}"
          volume_icons:
            - "\ueee8"  # Icon for muted
            - "\uf026"  # Icon for 0-10% volume
            - "\uf027"  # Icon for 11-30% volume
            - "\uf027"  # Icon for 31-60% volume
            - "\uf028"  # Icon for 61-100% volume
          callbacks:
            on_right: "exec cmd.exe /c start ms-settings:sound"
    power_menu:
        type: "yasb.power_menu.PowerMenuWidget"
        options:
          label: "\uf011"
          uptime: True
          blur: False
          blur_background: True
          animation_duration: 300 # Milisecond 
          button_row: 3 # Number of buttons in row, min 1 max 5
          buttons:
            lock: ["\uea75","Lock"]
            signout: ["\udb80\udf43","Sign out"]
            #sleep: ["\u23fe","Sleep"]
            shutdown: ["\uf011","Shut Down"]
            restart: ["\uead2","Restart"]
            hibernate: ["\uf28e","Hibernate"]
            cancel: ["\udb81\udf3a","Cancel"]
            #force_shutdown: ["\uf011","Force Shut Down"]
            #force_restart: ["\uead2","Force Restart"]
    apps:
        type: "yasb.applications.ApplicationsWidget"
        options:
          label: "{data}"
          app_list:
            #- {icon: "\uf489", launch: "wt"}
            #- {icon: "\uf413", launch: "explorer c:\\Users\\amn"}
            #- {icon: "\udb82\ude1e", launch: "C:\\Users\\amn\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe"}
            #- {icon: "\udb80\ude39", launch: "C:\\Program Files\\Mozilla Firefox\\firefox.exe"}
            #- {icon: "\uf1ff", launch: "C:\\Users\\amn\\AppData\\Local\\Discord\\Update.exe --processStart Discord.exe"}
            #- {icon: "\ue217", launch: "C:\\Users\\amn\\AppData\\Roaming\\Telegram Desktop\\Telegram.exe"}
            - {icon: "\uf0a2", launch: "notification_center"}
            - {icon: "\ueb51", launch: "quick_settings"}
            #- {icon: "\uf46a", launch: "cmd.exe /c start ms-settings:windowsupdate"}
            - {icon: "\uf422", launch: "search"}
            #- {icon: "\udb84\udf55", launch: "widget"}
            # Currently available to use quick_settings, notification_center, search, widget, launcher (launcher will trigger ALT+A)
          container_padding: 
            top: 0
            left: 8
            bottom: 0
            right: 8
    github:
        type: "yasb.github.GithubWidget"
        options:
          label: "<span>\ueba1</span>"
          label_alt: "Notifications {data}" # {data} return number of unread notification
          token: ghp_xxxxxxxxxxx # GitHub Personal access tokens (classic) https://github.com/settings/tokens
          # You can set token: env, this means you have to set YASB_GITHUB_TOKEN in environment variable
          max_notification: 20 # Max number of notification displaying in menu max: 50
          only_unread: false # Show only unread or all notifications; 
          max_field_size: 54 # Max characters in title before truncation.
          update_interval: 300 # Check for new notification in seconds
    wallpapers:
        type: "yasb.wallpapers.WallpapersWidget"
        options:
          label: "<span>\udb83\ude09</span>"
          image_path: "C:\\Users\\Jaiden\\Pictures\\Wallpapers" # Example path to folder with images
          change_automatically: false # Automatically change wallpaper
          update_interval: 60 # If change_automatically is true, update interval in seconds
          gallery:
              enabled: true
              blur: true
              image_width: 200
              image_per_page: 8
              show_buttons: false
              orientation: "portrait"
              image_spacing: 9
              lazy_load: false
              lazy_load_delay: 80
              lazy_load_fadein: 400
              image_corner_radius: 20
              enable_cache: true
    taskbar:
        type: "yasb.taskbar.TaskbarWidget"
        options:
          icon_size: 16
          tooltip: false
          show_only_visible: false
          strict_filtering: false
          monitor_exclusive: false
          animation:
            enabled: true
          preview:
            enabled: true
            width: 240
            delay: 400
            padding: 8
            margin: 8
          title_label:
            enabled: false
            show: "always"
            min_length: 10
            max_length: 30
          ignore_apps:
            processes: []
            titles: []
            classes: []
    systray:
        type: "yasb.systray.SystrayWidget"
        options:
          class_name: "systray"
          label_collapsed: "▼"
          label_expanded: "▶"
          label_position: "left" # Can be "left" or "right"
          icon_size: 16 # Can be any integer between 8 and 64
          pin_click_modifier: "alt" # Can be "ctrl", "alt" or "shift"
          show_unpinned: true
          show_unpinned_button: true
          show_battery: false
          show_volume: false
          show_network: false
          btn_shadow:
            enabled: true
            color: "black"
            radius: 3
            offset: [ 1, 1 ]